<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626181265807-159eemq60os07b04vbm2van0gbrs3ctn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626181265807-159eemq60os07b04vbm2van0gbrs3ctn</string>
	<key>API_KEY</key>
	<string>AIzaSyDUqufKG77mXCHR42NzAzpwLPXZ-50dRxo</string>
	<key>GCM_SENDER_ID</key>
	<string>626181265807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learninghubapp</string>
	<key>PROJECT_ID</key>
	<string>learning-hub-e41f5</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-hub-e41f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626181265807:ios:95bf0f32eee9540a5f93fa</string>
</dict>
</plist>